media-sm()
	@media screen and (min-width: 576px)
		{block}

media-md()
	@media screen and (min-width: 768px)
		{block}
		
media-fon()
	@media only screen and (min-width:768px) and (max-width:768px)
		{block}
media-lg()
	@media screen and (min-width: 992px)
		{block}
	
media-xl()
	@media screen and (min-width: 1200px)
		{block}

media-xxl()
	@media screen and (min-width: 1400px)
		{block}

media-custom()
	@media screen and (min-width: 1600px)
		{block}

media-fullscreen()
	@media screen and (min-width: 1900px)
		{block}

media-max-sm()
	@media screen and (max-width: 576px)
		{block}

media-max-md()
	@media screen and (max-width: 768px)
		{block}
	
media-max-lg()
	@media screen and (max-width: 992px)
		{block}
	
media-max-xl()
	@media screen and (max-width: 1200px)
		{block}

media-max-xxl()
	@media screen and (max-width: 1400px)
		{block}
media-max-laptop()
	@media screen and (max-width: 1480px)
		{block}
media-mobile-all()
	@media screen and (max-width: 767px)
		{block}

media-desktop-all()
	@media screen and (min-width: 769px)
		{block}		

media-max-sm()
	@media screen and (max-width: 576px)
		{block}
		
media-max-only-320()
	@media only screen and (min-width:320px) and (max-width:320px)
		{block}
		
media-iefix()
	@media all and (-ms-high-contrast:none)
		{block}

img-responsive()
	width 100%
	display block
	height auto

link-color(clr)
	color clr
	&:hover, &:visited, &:focus
		color clr	