$black = #222222;
$primaryblack = #000;
$darkgrey = #464646;
$grey = #989898;
$lightgrey = #b6b7bc;
$yellow = #FFD033;
$darkyellow = #ffb71b;
$lightblue = #58C3D4;
$darkblue = #357089;
$blue = #307D9E;
$secondaryblue = #257ca3;
$primaryblue = #2b7da1;
$white = #FFFFFF;
$secondarywhite = #FAFAFA;
$border = #f6f6f6;
$red = #FF6E64;
$orange = #FFA564;
$green = #1DAD65;