.list
    width: 100%;
    li
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: $darkgrey;
        position relative
        padding-left: 20px
        &:before
            content: ''
            width: 3px
            height: 3px
            border-radius: 3px
            background: $darkgrey;
            position: absolute
            left: 0
            top: 13px